<div class="padi-jumbotron row">
    <div class="intro-title col-xs-12 col-sm-12 col-md-4 col-md-push-8 ">
        <div>
            <h1 class="intro-title-text">thinking <span class="title-light"></span>like a diver<span class="title-number">1<span></h1>
        </div>
    </div>
    <div class="intro-text col-xs-12 col-sm-12 col-md-4 col-md-pull-4 ">
        <div class="scenario-container">
            <h2 class="scenario vertical">scenario</h2>
        </div>
        <p class="">
            "That was disappointing,” Keira said to Lauren as she sat down next to her on the dive boat. The dive they’d just made hadn’t gone to plan when a stronger-than-expected current had kept them from reaching a cleaning station, where they’d intended to take some photos. “Not one shot,” said Lauren. “Nothing on our fish ID slates.” “I wish we’d accomplished at least one of our objectives,” Keira said. “But we did,” said Lauren. “The most important one.” Thinking a moment, Keira smiled, too. “You’re right. It was a safe, well-executed dive. That’s always our primary objective. </p>
        <ul class="">
            <li>How does Keira's observation simplify making decisions you might have during a dive?
            </li>
            <li>What can happen if a diver forgets the primary objective of every dive? </li>
        </ul>
    </div>
</div>
