<div class="padi-jumbotron row">
    <div class="intro-title col-xs-12 col-sm-12 col-md-4 col-md-push-8 ">
        <div>
            <h1 class="intro-title-text">thinking <span class="title-light"></span>like a diver<span class="title-number">1<span></h1>
        </div>
    </div>
    <div class="intro-text col-xs-12 col-sm-12 col-md-4 col-md-pull-4 ">
        <div class="scenario-container">
            <h2 class="scenario vertical">scenario</h2>
        </div>
        <p class="">
            "That was disappointing,” Keira said to Lauren as she sat down next to her on the dive boat. The dive they’d just made hadn’t gone to plan when a stronger-than-expected current had kept them from reaching a cleaning station, where they’d intended to take some photos. “Not one shot,” said Lauren. “Nothing on our fish ID slates.” “I wish we’d accomplished at least one of our objectives,” Keira said. “But we did,” said Lauren. “The most important one.” Thinking a moment, Keira smiled, too. “You’re right. It was a safe, well-executed dive. That’s always our primary objective. </p>
        <ul class="">
            <li>How does Keira's observation simplify making decisions you might have during a dive?
            </li>
            <li>What can happen if a diver forgets the primary objective of every dive? </li>
        </ul>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-4 learning-obj-container">
        <h2 class="white learning-obj-hdr">learning</h2>
        <h2 class="white learning-obj-subhdr">objectives</h2>
        <p class="white learning-obj-content">By the end of this section, I should be able to answer these questions:</p>
        <ol class="white learning-obj-content">
            <li>What are the four central dive skills? What three characteristics do they have in common?</li>
            <li>Why do I learn these dive skills?</li>
        </ol>
    </div>
    <div class="col-md-8">
        <h2 class="two-col-head">The Four Central Dive Skills</h2>
        <div class="two-col">
            <p><span class="tlad-firstcharacter">A</span>s you gain dive experience and your skills improve, you become more aware and more confident, and your equipment use becomes second nature. Learning to think like a diver underlies this. Four central skills shape experienced, prudent divers’ thinking:</p>
            <ol class="learning-obj-content">
                <li>Planning dives with secondary objectives</li>
                <li>Developing and applying situational awareness
                </li>
                <li>Managing task loading</li>
                <li>Maintaining good dive habits </li>
            </ol>
            <p>These (primarily) mental skills share three characteristics: First, they apply to virtually all dives to some extent. Second, they make your dives more enjoyable and more efficient, and help you reduce and manage risk. Third, they integrate with each other and all your other dive skills.</p>
            <p>With foundational knowledge and skills mastered, you’re now ready to transition from novice-thinking to experienced-thinking approaches to diving. No matter how many dives you’ve logged, more training in these skills helps you make the most of your experiences. It structures how you think about diving and lets you benefit from the experience of more seasoned divers.</p>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-8">
        <h2 class="white tlad-exercise-hdr">Exercise-1</h2>
        <ol class="exercise">
            <li><strong>The four central dive skills include (choose all that apply):</strong></li>
            <ol type="a">
                <li>planning dives with secondary objectives
                </li>
                <li>developing situational awareness</li>
                <li>managing task loading</li>
                <li>maintaining good dive habits</li>
            </ol>
            <li><strong>I learn the central dive skills to help me transition from novice-thinking to experienced-thinking approaches to diving.</strong>
                <br> True False</li>
        </ol>
        <p>How did you do? 1. a, b, c, d. 2. True.</p>
    </div>
    <div class="col-md-4">
        <!--IMAGE PLACEHOLDER-->
        <img src="./assets/images/placeholder.gif" alt="" height="300px" width="100%" />
        <p class="caption ">Every dive’s primary objective is for all divers to return safely.</p>
        <!--IMAGE PLACEHOLDER-->
    </div>
</div>